body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	cursor: pointer !important;
}

a:hover {
    text-decoration: none;
}


h1{
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin: 0;
    padding: 0;
}


#logo a {
    float: left;
    font-size: 0.8em;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px 1em;
    display: inline-block;
    float: left;
}

/* Styling the links */

.menu li a {
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}


.menu li ul li a {
    color: #555;
    padding: 10px 10px;
    font-size: 0.8em;
}


.menu li ul li:hover {
    background: #f8f9fa;
}

/* Background color change on Hover */

nav .menu li a:hover {
    color:#F44336;
}

.menu li.active a {
    color: #F44336;
}
/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 30px;
    background: #fff;
    padding: 10px;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    margin: 0;
}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}